<div class="container">
  <div class="user-details">
    <h3> Featured Projects </h3>
  </div>
    <div class="row user-projects">
    <div class="six columns">
     <img src="https://i.gyazo.com/48e62402b91771c5f65989434e42ebdf.gif" alt="https://gyazo.com/48e62402b91771c5f65989434e42ebdf" width="500"/>
    </div>
    <div class="six columns">
      <h5>Smokescreen</h5>
      <ul>
        <li> JavaScript </li>
        <li> WebExtension APIs </li>
      </ul>
      <p>Web Extension that obfuscates your browing history by autonomously crawling the web in the background. Congress sold you out to your ISP &mdash; now bury your real data. </p>
      <a class="project-link" href="https://github.com/paulizleet/smokescreen-web">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img src="{{ "/assets/img/game.png" | prepend: site.baseurl }}" width="296"/>
    </div>
    <div class="six columns">
      <h5> Noob Game </h5>
      <li> Javascript </li>
      <li> HTML5 </li>
      <li> CSS </li>
      <p>JavaScript game where balls are shot at you at random angles, and you have to avoid them. Look out for the super-speed at 6 seconds.</p>
      <a class="project-link" href="https://mabenson00.github.io/noobgame/">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
     <img src="{{ "/assets/img/shade.png" | prepend: site.baseurl }}" width="500"/>
    </div>
    <div class="six columns">
      <h5>Shades of Gray</h5>
      <ul>
        <li> JQuery</li>
        <li> AJAX </li>
      </ul>
      <p>Webpage for designers/coders to test font colors in real time. Stop guessing which color font to use. </p>
      <a class="project-link" href="https://mabenson00.github.io/shadesofgray/">Check it out</a>
    </div>
  </div>

</div>
